:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin-left: 30px;
}

h3,
p {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 100%;
  padding-top: 40px;
}

.search-form {
  max-width: 370px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 32px;
}

.search-input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  outline: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #808080;
  margin-right: 8px;
}

.search-input:hover {
  border: 1px solid #000;
}
.search-input:active,
.search-input:focus {
  border: 1px solid #4e75ff;
  color: #2e2f42;
}

.submit-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-size: 16px;
  background: #4e75ff;
  border: none;
  color: #fff;
}

.submit-btn:hover {
  background: #6c8cff;
}


.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #ffff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  .gallery & {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #ee9714 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section {
  width: 1440px;
  height: 792px;
  background: #fff;
  padding-bottom: 36px;
  padding-top: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 24px;
  background: #fff;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;

  background: #fff;
  display: flex;
  flex-direction: column;
}

.gallery-img {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.gallery-modal-image {
  display: flex;
  margin-left: 30px;
  margin-bottom: 95px;
  width: 1112px;
  height: 640px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray -246.133px -4.929px / 127.08%
    147.165% no-repeat;
}

.img-props {
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: space-around;
}

.item-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-title-props {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.48px;
  align-items: center;
}

.item-value-props {
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}
